*{
    margin: 0;
    padding: 0;
}
header{
    height: 75px;
    width: 100%;
    background-color: #202020;
    position: fixed;
}
header h5{
    margin-left: 50px;
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 20pt;
    color: #ff0000;
    font-family: Impact;
}
header h6{
       font-family: Roboto;
       font-size: 7pt;
       font-weight: 100;
       color: #ffff;
       margin-top: 0px;
       margin-left: 50px;
       margin-bottom: 50px;
}
body{
    height: 100vh;
    background-image: url(IMG_42411.jpg);
    background-position: center;
    background-size: cover;
}
#atHead{
    left: 50%;
    top: 60%;
    position: fixed;
}
#pic{
    border-radius: 100%;
    height: 100px;
    width: 100px;
    top: -55px;
    left: 130px;
    position: absolute;
}
.head{
    width: 300px;
    height: 300px;
    background-color: #202020;
    padding: 70px 30px;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    position: absolute;
    border-radius: 10px;
    box-shadow: 4px 4px 6px #000000;
}
h1{
    font-family: sans-serif;
    font-size: 10pt;
    text-align: center;
    letter-spacing: 4px;
    color: #ffff;
}
p{
    margin-top: 20px;
    font-family: Roboto;
    font-size: 7pt;
    text-align: justify;
    color: #ffff;
}
h2{
    margin-top: 20px;
    font-family: Roboto;
    font-size: 7pt;
    text-align: justify;
    color: #ffff;
}
h4{
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: Roboto;
    font-size: 7pt;
    text-align: justify;
    color: #ffff;
}
#sideNav h4{
    font-family: Roboto;
    color: #ffff;
    text-align: center;
    font-size: 10pt;
    margin-bottom: 20px;
}
#logoNav{
    width: 50px;
    position: fixed;
    right: 65px;
    top: 10px;
    z-index: 2;
    cursor: pointer;
}
#sideNav{
    width: 250px;
    height: 100%;
    position: fixed;
    margin-top: 75px;
    right: 0;
    top: 0;
    background: #353535;
    z-index: 2;
    transition: 1s;
    transition-property: right;
}
#sideNav a{
    text-decoration: none;
    color: #ffff;
    display: block;
    width: 100%;
    padding-left: 60px;
    box-sizing: border-box;
    line-height: 50px;
    font-size: 15px;
    text-decoration: none;
    border-color: #ff0000;
    color: #ffffff;
    transition: 0.5s;
} 
#sideNav a:hover{
    background: #ff0000;
}
#userpic{
    width: 100px;
    height: 100px;
    margin-top: 50px;
    margin-left: 68px;
    background-position: center;
    border-radius: 50%;
}
nav ul li{
    list-style: none;
    font-family: sans-serif;
}
.head #fbBtn{
    height: 20px;
    width: 20px;
    margin-top: 40px;
    position: fixed;
}
.head a{
    margin-left: 30px;
    margin-top:45px;
    text-decoration: none;
    color: white;
    font-family: Roboto;
    font-size: 7pt;
    position: fixed;
}
.head #glBtn{
    height: 25px;
    width: 25px;
    margin-left: -2px;
    margin-top: 40px;
    position: fixed;
}
.contact h1{
    font-family: sans-serif;
    font-size: 10pt;
    margin-top: 20px;
    position: fixed;
}
#sideNav #home{
    width: 35px;
    height: 35px;
    margin-top: 5px;
    position: absolute;
    padding-left: 10px;
}
#sideNav #das{
    width: 20px;
    height: 20px;
    margin-top: 12px;
    position: absolute;
    padding-left: 20px
}
#sideNav #abt{
    width: 30px;
    height: 30px;
    margin-top: 12px;
    position: absolute;
    padding-left: 20px;
}
#sideNav #oi{
    width: 20px;
    height: 20px;
    margin-top: 12px;
    position: absolute;
    padding-left: 20px;
}